__pycache__/
*.py[cod]
*.nfs*
*.swp
.cache/
*.md.bak
filenr.lis
mulplt.out
# exclude everything in output directory
retreat/output/*
# exception to the rule- should keep empty directory
!retreat/output/.gitkeep
# exclude example ETNA data (no permission?)
retreat/example_data/ETNA
