__pycache__/
*.py[cod]
*.nfs*
.cache/
*.md.bak
filenr.lis
mulplt.out
# exclude everything in output directory
retreat/output/*
# exception to the rule- should keep empty directory
!retreat/output/.gitkeep
